
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}

.translation-pair {
  text-decoration: underline;
}

#search-box, #add-words{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#enter {
  margin-top: 10px;
}


#enter:hover, #add-to-dictionary:hover {
    color: white;
    background-color: blue;
}

#snoopie {
  height: auto;
  width: 300px;
}